.font-label {
  color: #8a8a8a;
  font-size: 0.8rem;
  line-height: 1.3;
}

.color-primary {
  color: #003c71;
}

.color-secondary {
  color: #af8500;
}

.color-accent {
  color: #001e39;
}

.color-body {
  color: #444444;
}

.color-light {
  color: #cacaca;
}

.color-dark {
  color: #0a0a0a;
}

.color-label {
  color: #8a8a8a;
}

i.fas, i.fab {
  color: #003c71;
}

::-moz-selection,
::selection {
  background: #fff3b2;
  color: #fefefe;
}

i.fas.fa-file-pdf {
  color: #ba0808;
}

.red, i.fas.red {
  color: #cc0000;
}

.whitebg {
  background: #fefefe;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.flexbox {
  display: flex;
}

.flexbox-inline {
  display: inline-flex;
}

.hideme, .flexbox.hideme, .flexbox-inline.hideme {
  display: none;
}

.addpadding {
  padding: 0.9375rem;
}

.nopadding {
  padding: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.small-margin-bottom {
  margin-bottom: 0.25rem !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

h6 {
  margin-bottom: 0.4rem;
}

.smaller {
  font-size: 90%;
}

.vsmall {
  font-size: 85%;
}

.vsmall.legend {
  line-height: 1.6;
}

.condensed {
  letter-spacing: -0.5px;
  line-height: 1.4rem;
  margin-top: 0;
}

.notsobig {
  font-size: 130%;
  line-height: 1;
}

.big {
  font-size: 180%;
  line-height: 1;
}

.vbig {
  font-size: 220%;
  line-height: 1;
}

.xbig {
  font-size: 275%;
  line-height: 1;
}

.strong, strong {
  font-weight: 700;
}

em, .italic {
  font-style: italic;
}

ul,
ol,
dl {
  list-style: none;
}

ul.compact li {
  font-size: 90%;
  line-height: 1.5;
}

table.full {
  width: 100%;
}

table th {
  text-align: left;
}

.overlay {
  text-shadow: 1px 3px 6px #373737;
}

img.right {
  margin-left: 0.9375rem;
}

img.left {
  margin-right: 0.9375rem;
}

.kr-modal-with-rows {
  padding-left: 0;
  padding-right: 0;
}

ul.title-area li.name {
  margin-top: -3px;
}

hr {
  background: #cacaca;
  height: 1px;
  border: none;
  width: 100%;
  display: inline-block;
  margin: 1rem 0 0.25rem;
}

.g-recaptcha {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.ajaxmodaldata {
  padding-top: 1.5rem;
}

.ajaxloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  z-index: 1000;
  opacity: 1;
  border: 16px solid #8a8a8a;
  border-top-color: #cacaca;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.narrower {
  max-width: 960px;
  margin: 0 auto;
}

input[type=number], .input-tiny {
  min-width: 5rem !important;
  max-width: 5rem !important;
  width: 100% !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #666e76;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gmnoprint img {
  max-width: none;
}

.goog-te-gadget-icon {
  vertical-align: middle;
  border: none;
  display: none !important;
}

#errorModal {
  background-color: #ffe0e0;
}

ul.tabs {
  border: none;
  display: flex;
  flex-direction: row;
}
ul.tabs li {
  flex-grow: 1;
  min-height: 0;
  text-align: center;
  border-right: 4px solid #fefefe;
}
@media print, screen and (min-width: 40em) {
  ul.tabs li {
    border-right: 6px solid #fefefe;
  }
}
ul.tabs li:last-child {
  border-right: none;
}

.callout {
  padding: 0.5rem;
}
@media print, screen and (min-width: 40em) {
  .callout {
    padding: 1rem;
  }
}
@media print, screen and (min-width: 64em) {
  .callout {
    padding: 1.5rem;
  }
}
.callout.standout {
  border: 1px solid #003c71;
}

ul.download {
  line-height: 2;
}

dl.fancylist {
  font-size: 15px;
}
dl.fancylist div {
  display: flex;
  margin: 5px 0 5px 0;
}
dl.fancylist dt {
  display: contents;
  font-weight: normal;
  font-style: italic;
}
dl.fancylist dt:after {
  border-bottom: 1px solid #8a8a8a;
  content: "";
  flex: 1 1 auto;
  margin: 0 12px 5px 12px;
}
dl.fancylist dd {
  flex: 0 1 auto;
  margin: 0 0 0 0;
}

img.responsive {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 40em) {
  img.responsive {
    margin-bottom: 0;
  }
}

.input-number-group {
  display: flex;
  justify-content: center;
}
.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}
.input-number-group .input-group-button {
  line-height: calc(80px / 2 - 5px);
}
.input-number-group .input-number {
  width: 80px;
  padding: 0 0.75rem;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}
.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  user-select: none;
}
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  background: #fefefe;
  border: 1px solid #003c71;
  color: #003c71;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 40px;
}
.input-number-group .input-number-decrement {
  margin-right: 0.5rem;
}
.input-number-group .input-number-increment {
  margin-left: 0.5rem;
}

i.fab.fa-cc-visa, i.fab.fa-cc-amex, i.fab.fa-cc-mastercard {
  font-size: 2.8rem;
}

.osmap-items {
  font-size: 94%;
}
.osmap-items h2 {
  font-size: 1.1rem !important;
  margin-bottom: 0.3rem;
  color: #af8500;
}
.osmap-items ul.level_1 {
  flex-wrap: wrap;
  display: flex;
}
@media print, screen and (min-width: 40em) {
  .osmap-items ul.level_1 li {
    flex: 1 0 50%;
  }
}
@media print, screen and (min-width: 64em) {
  .osmap-items ul.level_1 li {
    flex: 0 0 33.3%;
  }
}

p.readmore a, a.readmore {
  font-size: 0.9em;
  line-height: 100%;
  color: #8a8a8a;
  font-weight: 700;
}

#system-message {
  margin-bottom: 0;
}

.blog .row {
  position: relative;
  border: none;
  margin: 0 auto 20px;
  max-width: 303px;
}
@media print, screen and (min-width: 40em) {
  .blog .row {
    text-align: left;
    max-width: 100%;
  }
}
.blog h4 {
  padding-bottom: 5px;
}

.item {
  position: relative;
}

.img-fulltext-none img {
  margin-bottom: 10px;
}

.item-image {
  margin: 0.5rem 2rem;
}

.visually-hidden, .sr-only,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#footer {
  position: relative;
  padding: 0;
}
#footer .top {
  position: relative;
  padding: 1.5rem 0 0;
  background: #af8500;
}
#footer .moduletable {
  margin-bottom: 0.5rem;
}
#footer .middle {
  background: #003c71;
  position: relative;
  padding: 2rem 0 1rem;
  color: #fefefe;
}
@media print, screen and (min-width: 40em) {
  #footer .middle {
    text-align: left;
  }
}
#footer .middle h3 {
  color: #af8500;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
#footer .middle i {
  color: #cacaca;
}
#footer .middle a {
  color: #fefefe;
}
#footer .middle a:hover {
  color: #cacaca;
}
#footer .middle .columns.border {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#footer .middle .columns.border .moduletable:nth-last-child(n+2) ~ div:last-child {
  margin-top: auto;
}
@media print, screen and (min-width: 40em) {
  #footer .middle .columns.border {
    border-left: 1px solid #cacaca;
  }
}
#footer .middle .row .moduletable:nth-last-child(n+2) ~ div:last-child {
  align-self: flex-end;
}
#footer .middle ul.footer {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  font-size: 1rem;
  display: block;
}
#footer .middle ul.footer li {
  padding: 0;
  text-decoration: none;
  margin-bottom: 0.9375rem;
}
#footer .middle ul.footer li.active > a {
  padding: 0.3rem 0.5rem;
  margin-left: -0.5rem;
}
#footer .middle ul.footer li a {
  padding-top: 0;
  padding-bottom: 0;
}
#footer .middle ul.footer li a:hover {
  color: #cacaca;
}
#footer .bottom {
  background: #e6e6e6;
  padding: 1.5rem 0 0;
  font-size: 0.8rem;
  position: relative;
}
#footer .bottom .moduletable {
  margin: 0;
}
#footer .bottom div.copyright {
  color: #8a8a8a;
  text-align: center;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom div.copyright {
    text-align: left;
  }
}
#footer .bottom ul {
  list-style: none;
  text-align: center;
}
#footer .bottom ul.menu .active > a {
  color: #fefefe;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul {
    text-align: right;
  }
}
#footer .bottom ul li {
  display: block;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul li {
    display: inline;
  }
}
#footer .bottom ul li a {
  color: #8a8a8a;
  padding: 0.5rem;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul li a {
    padding: 0 0.5rem 0;
  }
}
#footer .bottom ul li a:hover {
  text-decoration: underline;
}

#hero.home {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}
@media print, screen and (min-width: 40em) {
  #hero.home {
    background: url(../images/property.jpg) no-repeat top left;
    min-height: 330px;
    background-size: cover;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home {
    background: none;
    max-height: none;
    height: auto;
  }
}
#hero.home .kr-slideshow {
  display: none;
}
@media print, screen and (min-width: 64em) {
  #hero.home .kr-slideshow {
    display: block;
    visibility: hidden;
  }
  #hero.home .kr-slideshow.slick-initialized {
    visibility: visible;
  }
}
#hero.home .caption {
  position: absolute;
  top: 8.5%;
  z-index: 9999;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  padding: 0.9375rem;
  background: rgba(42, 84, 141, 0.5);
  line-height: 1.1;
}
#hero.home .caption a {
  color: #fefefe;
  font-size: 1.1rem;
  font-weight: 400;
}
#hero.home .caption a:hover {
  color: #af8500;
}
#hero.home .spot {
  display: none;
}
@media print, screen and (min-width: 40em) {
  #hero.home .spot {
    position: absolute;
    top: 2%;
    right: 0;
    display: block;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .spot {
    top: 3%;
    right: 2%;
  }
}
@media print, screen and (min-width: 40em) {
  #hero.home .spot img {
    width: 70%;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .spot img {
    width: 80%;
  }
}
#hero.home i.slick-nav {
  height: auto;
}
@media print, screen and (min-width: 64em) {
  #hero.home i.slick-nav {
    padding: 2.4rem 0.8rem;
    top: 45%;
  }
}
#hero.home .search {
  position: relative;
  display: block;
  margin: 1rem 1.5rem;
  background: #fefefe;
  padding: 1rem 0 0;
  height: auto;
}
@media print, screen and (min-width: 40em) {
  #hero.home .search {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 2%;
    max-width: 240px;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
    box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .search {
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 1.2rem;
    margin: 0 0 0 -480px;
    max-width: 960px;
    width: 100%;
    height: 75px;
  }
}
#hero.home .search .moduletable {
  padding-bottom: 0;
}
@media print, screen and (min-width: 64em) {
  #hero.home .search .columns {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .search .columns:first-child, #hero.home .search .columns:last-child {
    padding-left: 0;
    padding-right: 0;
  }
}

#main {
  margin: 0;
}
#main .main-content {
  margin-bottom: 1rem;
}
#main .main-content,
#main .modules-above {
  width: 100%;
  padding-top: 0;
  display: block;
}
#main #sidebar-left, #main #sidebar-right {
  text-align: left;
}
#main #sidebar-right {
  margin-top: 3.5rem;
}
#main #sidebar-right .moduletable h3 {
  padding-bottom: 1rem;
}

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-wrap: wrap;
  font-size: 86%;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.breadcrumb li::after {
  content: "/";
  margin: 0 0.5rem;
}
.breadcrumb li:first-child::after,
.breadcrumb li:last-child::after {
  content: "";
  margin-right: 0;
}

#sidebar-right > div, #sidebar-left > div {
  margin-bottom: 2rem;
}

#sidebar-right button, #sidebar-left button {
  margin-bottom: 0;
}

@media print {
  * {
    background: transparent !important;
    color: #0a0a0a !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    overflow: visible !important;
    opacity: 1;
  }

  body > * {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fefefe !important;
    color: #0a0a0a;
  }

  .reveal-overlay,
.reveal {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: none !important;
  }

  pre,
blockquote {
    border: 1px solid #8a8a8a;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  table {
    page-break-inside: auto !important;
    display: table !important;
    text-align: left;
    height: 100% !important;
  }

  table tr {
    page-break-inside: avoid !important;
    page-break-after: auto !important;
  }

  table td {
    text-align: left;
  }

  table.adp-directions,
table.adp-placemark {
    page-break-after: always !important;
    display: table !important;
  }
  table.adp-directions tbody tr td div.adp-stepicon,
table.adp-placemark tbody tr td div.adp-stepicon {
    page-break-before: auto !important;
  }

  img {
    max-width: 100% !important;
  }

  h1.logo, .logo {
    width: 100%;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h1.logo, h2, h3, h4, h5, h6, form, section {
    page-break-after: avoid;
    margin: 0;
  }

  .search,
.navbar,
.tab-bar,
.left-off-canvas-menu,
.main-nav,
header,
#footer,
.support,
.print,
#printme,
.default,
.top-bar,
.top-logo a img,
#sidebar-left,
#sidebar-right,
.top-bar-section,
.breadcrumbs,
#btnPrint,
.top-logo,
.topnav,
#topmenu,
#chatlio-widget,
.kr-carousel,
#top,
.reveal-modal-bg,
.close-button {
    display: none;
    height: 0;
  }
}
.title-bar {
  margin-top: 2rem;
  height: 51px;
}
.title-bar .logo {
  position: absolute;
  top: 7px;
  right: 10px;
  overflow: visible;
}

#header {
  height: 85px;
  width: 100%;
}
#header #toprow {
  display: flex;
  justify-content: flex-end;
  background: #fefefe;
  width: 100%;
  height: 35px;
}
#header #toprow.empty {
  background: #003c71;
}
#header #toprow a {
  font-size: 14px;
  margin-right: 1rem;
}
#header #bottomrow {
  background: #003c71;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header #bottomrow .top-bar-left {
  max-width: 200px;
  width: 200px;
}
#header #bottomrow .top-bar-left .logo-image {
  width: 178px;
  min-width: 178px;
  text-align: left;
  margin-top: -25px;
}
#header #bottomrow .top-bar-left .logo-image a img.logo {
  overflow: visible;
}
#header #bottomrow ul.dropdown.menu {
  align-items: center;
  justify-content: center;
}
#header #bottomrow ul.dropdown.menu > li {
  border-right: 10px solid transparent;
}
#header #bottomrow ul.dropdown.menu li a {
  height: 50px;
  color: #fefefe;
}
#header #bottomrow ul.dropdown.menu li.current a,
#header #bottomrow ul.dropdown.menu li.current a:hover,
#header #bottomrow ul.dropdown.menu li:hover a,
#header #bottomrow ul.dropdown.menu li.is-active a {
  background-color: #005199;
}
#header #bottomrow ul.dropdown.menu ul.menu li {
  padding-top: 0;
  padding-bottom: 0;
  width: 198px;
}
#header #bottomrow ul.dropdown.menu ul.menu li:hover {
  background: #003c71;
  border-left: 8px solid #005199;
}
#header #bottomrow ul.dropdown.menu ul.menu li a {
  line-height: 1px;
  height: 35px;
}
#header #bottomrow ul.dropdown.menu ul.menu li a:hover {
  background: #003c71;
  padding-left: 9px;
}
#header #bottomrow ul.dropdown.menu ul.megamenu.is-dropdown-submenu {
  width: 398px;
}
#header #bottomrow ul.dropdown.menu ul.megamenu.is-dropdown-submenu li.is-dropdown-submenu-item {
  float: left;
  width: 198px;
  padding-right: 0;
  font-size: 0.9rem;
  background: #003c71;
}
#header #bottomrow .top-bar-right {
  max-width: 320px;
  width: 100%;
}

ul.offcanvas {
  color: #fefefe;
}
ul.offcanvas li a {
  color: #fefefe;
}

.dropdown.menu li a {
  color: #fefefe;
  font-size: 1.1rem;
}
.dropdown.menu li.active {
  color: #fefefe;
}
.dropdown.menu li:hover a {
  background: #005199;
  color: #e6e6e6;
}
.dropdown.menu li.is-dropdown-submenu {
  background: #003c71;
}
.dropdown.menu li.is-dropdown-submenu-item:hover a {
  background: #003c71;
}

ul#offcanvas.nav.menu.vertical {
  background: #003c71;
}
ul#offcanvas.nav.menu.vertical li a {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}
ul#offcanvas.nav.menu.vertical li a:hover {
  color: #e6e6e6;
}

.off-canvas .close-button {
  color: #fefefe;
  z-index: 999;
  outline: none;
  right: 0.6rem;
  top: 0.6rem;
  font-size: 1.2em;
  line-height: 1;
}

/*# sourceMappingURL=template.css.map */
