/**
* package    Know Reservations
* subpackage Admin css
* copyright  2021 Highland Vision. All rights reserved.
* license    See the file "LICENSE.txt" for the full license governing this code.
* author     Hazel Wilson <hazel@highlandvision.com>
*/
table.amonth {
	vertical-align: middle;
	text-align: center;
	border: none;
	border-collapse: separate;
	border-spacing: 1px;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	color: #000;
	tr th,
	tr td {
		text-align: center;
		font-size: 13px;
	}
	tr th {
		font-weight: normal;
		width: 60px;
		text-align: left;
	}
	tr td {
		//border: .1rem solid #999;
		width: 2rem;
		height: 2rem;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		line-height: 26px;
		&.bookme {
			border: 3px solid #a3b53b;
			background: rgba(163, 181, 59, 0.5);
			cursor: pointer;
		}
		&.bgbook {
			border: 3px solid red;
			background: rgb(255, 0, 0, .5);
			font-weight: bold;
			color: #f1f1f1;
		}
		&.bgprov {
			border: 3px solid orange;
			background: rgba(255, 165, 0, 0.5);
			padding: 0;
			font-weight: bold;
			color: #f1f1f1;
		}
		&.bgblack {
			border: 3px solid #333333;
			background: rgba(51, 51, 51, 0.5);
			color: #fff;
			font-weight: bold;
		}
		&.bggrey {
			border: 3px solid #bbb;
			background: rgba(187, 187, 187, 0.5);
			color: #f1f1f1;
			font-weight: bold;
		}
		&.weekend {
			border: 3px double blue;
		}
		span.modalshow {
			cursor: pointer;
		}
		.fa-stack {
			width: 20px;
			height: 20px;
			line-height: 22px;
		}
		i {
			&.booking, &.block {
				line-height: 18px;
				font-size: 1.5em;
				color: #fff;
			}
		}
		.suitcase-text {
			line-height: 19px;
			font-size: 11px;
			color: #000;
			font-weight: bold;
		}
		&.bookme.selected {
			background-color: yellow;
		}
		&.past {
			opacity: 0.4;
		}
	}
	a.arrival:link,
	a.arrival:visited {
		color: black;
		text-align: center;
	}
	.popover, div.gantt .popover {
		max-width: 300px !important;
		width: 300px !important;
		z-index: 99999;
		color: black;
	}
	.popover-title, div.gantt .popover-title {
		display: none;
		background: #fff;
	}
	.popover-content, div.gantt .popover-content {
		padding: 0 !important;
	}
}